* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    direction: rtl;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: #282828;
    width: 100%;
    color: gold;
    padding: 15px;
    text-align: center;
    font-style: italic;
}

.home {
    background: #999999;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
}

.home h2 {
    background: black;
    color: white;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.home p {
    color: black;
    margin: 8px;
    margin-top: 15px;
}

.note {
    padding-top: 20px;
    background: black;
    width: 100%; 
}

.contact-us {
    margin: 40px;
    padding: 50px;
    border-radius: 10px;
    height: auto;
    background: lightpink;
}

.contact-us p {
    font-size: 18px;
    text-align: center;
    color: black;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: lightgrey;
    background: black;
    width: 100%;
}