* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    direction: rtl;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: #282828;
    width: 100%;
    color: gold;
    padding: 15px;
    text-align: center;
}

.header h1 {
    margin-right: 40px;
}

.header p {
    color: white;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.image-section {
    background-image: url('school_photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.section {
    background: black;
}

.home, .discover-more {
    width: 100%;
    background: #999999;
    color: white;
    text-align: center;
}

.home h2, .discover-more h2, .school-laws h2 {
    padding-top: 15px;
    text-align: center;
}

.home p, .discover-more p, .school-laws p {
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 10px;
    color: black;
}

.school-laws {
    width: 100%;
    background: #999999;
    color: white;
}

.discover-more a {
    color: blue;
    text-decoration: underline;
}

.contact-us {
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    background: lightpink;
}

.contact-us p {
    font-size: 18px;
    text-align: center;
    color: black;
}

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: lightgrey;
}